<%
file_name = if @opts[:font_face_path]
	File.join @opts[:font_face_path], @data[:file_name]
else
	@data[:file_name]
end
%>/* 
 * Janrain Icon Font
 */
@import "compass/css3/";
@import "_mixins";
@import "_variables";

@font-face {
	font-family: 'janrain-icons';
	src: asset-url('<%= file_name %>.eot?#iefix', font) format('embedded-opentype');
	src: asset-url('<%= file_name %>.svg#janrain-icons', font) format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'janrain-icons';
	src: inline-font-files('<%= file_name %>.woff',woff,'<%= file_name %>.ttf',truetype); 
	font-weight: normal;
	font-style: normal;
}

@mixin janrain-icon-size ($size, $lineHeight, $widthHeight, $radius, $padding) {
	font-size: 0px + $size;
	line-height: $lineHeight / $size;
	@if $widthHeight {
		width: $widthHeight;
		height: $widthHeight;
	}
	@if $padding {
		padding: $padding;
	}
	@if $radius {
		@include border-radius ($radius);
	}
}

/* Use the following CSS code if you want to have a class per icon */
[class*="janrain-icon-"] {
	font-family: "<%= @opts[:font_name] %>";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	vertical-align: middle;
}
.janrain-no-text-effect:link,
.janrain-no-text-effect:visited,
.janrain-no-text-effect {
	text-decoration: none;
	@include text-shadow (none);
}

@each $iconSize in $iconStandardSizes {
	.janrain-icon-#{$iconSize} {
		@include janrain-icon-size( $iconSize, $iconSize, false, false, false );
	}
}

@each $iconColor in $iconStandardColors {
	$name: nth($iconColor, 1);
	$value: nth($iconColor, 2);

	.janrain-icon-#{$name} {
		color: $value;
	}
	.janrain-icon-#{$name}-bg {
		background-color: $value;
	}
}

.janrain-icon-blue-bg,
.janrain-icon-green-bg,
.janrain-icon-orange-bg,
.janrain-icon-red-bg {
	color: white;
	text-align: center;
	&.janrain-icon-24 {
		@include janrain-icon-size (16px, 18px, 18px, 3px, 3px);
	}
	&.janrain-icon-32 {
		@include janrain-icon-size (20px, 22px, 22px, 3px, 5px);
	}
	&.janrain-icon-48 {
		@include janrain-icon-size (34px, 38px, 38px, 5px, 5px);
	}
	&.janrain-icon-64 {
		@include janrain-icon-size (42px, 44px, 44px, 8px, 10px);
	}
}

<%= @data[:glyphs].map {|name| ".#{@opts[:css_prefix] + name}:before"}.join(",\n") %> {
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	text-decoration: inherit;
}
<% @data[:glyphs].each_with_index do |name, index| %>
.<%= @opts[:css_prefix] + name %>:before { content: "\<%= (61696+index).to_s(16) %>"; }<% end %>

$icons: <% @data[:glyphs].each_with_index do |name, index| %>
(<%= name %>,\<%= (61696+index).to_s(16) %>),<% end %>(null,\0000);

